@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #fff;
  font-family: "Roboto", serif;
}

body{
  background-color: #001;
}



.menu{
  background-color: #123;
  width: 260px;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;
}



ul{
  list-style: none;
  position: relative;
  height: 95%;
}

ul li a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}

ul li a:hover ,.active{
  background-color: #ffffff55;
}

.log-out{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.log-out a{
  background-color: #a00;
}

ul li a i{
  font-size: 30px;
}

.img-box{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  flex-shrink: 0;
}

.img-box img{
  width: 100%;
}

.profile{
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile h2{
  font-size: 20px;
  text-transform: capitalize;
}
